:root{

    /*Basic Colors*/
    --basic-black: #000;
    --basic-white: #fff;

    /*Main Colors*/
    --background-primary: #FEE5BD;
    --background-secundary: #F2B79F;
    --background-tercery: #E0CFF1;
    --background-footer: #C0D7DD;


    /* font-sizes */
    --font-size-base: 10px;
    --font-size-xs: 1.2rem;
    --font-size-sm: 1.8rem;
    --font-size-md: 2.2rem;
    --font-size-lg: 3.5rem;
    --font-size-xl: 4.5rem;
}

/** reset **/
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  font-family: "Rubik", sans-serif;
  line-height: 1.125;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: var(--font-size-base);
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

/* html elements */
body{
    margin: 0;
}

/* components  */
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: calc(100vh - 5px);
    background-color: var(--background-primary);
    color: var(--basic-black);
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    font-size: var(--font-size-xl);
    margin-bottom: 20px;
    text-align: left;
}
  
.subtitulo {
    font-size: var(--font-size-md);
}

.pie{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: var(--background-tercery);
    color: var(--basic-black);
    font-size: var(--font-size-sm);
}